/* ----------overwrite defaults ---------------*/

html, body div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /*    vertical-align: baseline;*/
    text-decoration: none;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style-type: none;
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------------begin my style------------- */

/*html {
    height: 100%;

}*/

body {
    height: 100%;
    width: 100%;
    font-family: 'Heebo', sans-serif;


    /* IE10+ */
    background-image: -ms-linear-gradient(left, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(154,182,112,1)), color-stop(100, rgba(207,218,116,1)));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

    /* W3C Markup */
    background-image: url("images/square.png"), linear-gradient(to right, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

}


/*#accountingconceptsinc {
    margin-left: -9999px;
}*/


/*#nav-1 h4 {
    background: url("images/nav-background.jpg") no-repeat;
background-color: #1d452a;
height: 30px;

}*/
/*==
#nav_background h4{
    text-align: center;
    background-color: beige;
    padding: 42px 42px 0px 42px;
    width: 300px;


}*/

#nav_1 h4 {
    text-align: center;
}



/*#nav-background  {
      
       position: relative;
       
   }*/



.horizontal-short{
    width:725px;
    height:2px;
    background:#bcc931;
    margin-left: 150px;
}
.horizontal-long1{
    width:600px;
    height: 3px;
    background:#bcc931;
    margin-left: 200px;

}

.horizontal-long2{
    width:725px;
    height: 2px;
    background:#bcc931;
    margin-left: 150px;
    margin-top: 20px;

}


.orange-welcome {
    color: #f6a900;
    font-family: 'Dancing Script', cursive;
    font-size: 3.75em;
    float: left;
    padding-right: 10px;

}


.carousel-caption{
    /*    margin: 250px 0 0 140px;*/
    min-width: 650px;
    top: 25%;
    left: 25%;
    max-width: 870px;
    /*    position: absolute;
        z-index: 100;*/

}

.white-big1, .white-big2  {
    font-weight: 400;
    color: #FFF;
    font-size: 1.9em;
    margin-top: 21px;

}

.white-big2 {
    margin-left: 105px;
    margin-top: 1px;

}


/*                ---use 952 for width of wrapper for screens smaller than 1024;current width of wrapper is 1194, but try 1024 later---*/


#main_wrapper, #nav_wrapper {
    max-width: 1194px;
    /*        min-height: 100%;*/
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
    margin: 0 auto;
    padding: 0 30px 0px 30px;
    height: auto;
}

#nav_1 #info {
    letter-spacing: .05em;
    /*    background-image: url(images/nav-background.jpg);*/
    padding-top: 20px;
}

#nav_1 h4 a{
    font-weight: 700;
    color: #1e222a;
}

.black-bullet {
    font-size:  1.25em;
    padding: 5px;

}

.orange-slash {
    color: #f6a900;
    padding: 10px;
    font-weight: 900;
}

#nav_1 {
    height: 130px;
}



#nav_1 ul, #logo {
    /*    margin-top: -30px;*/
    float: left;

}

/*#logo {
  display: inline;
  position: relative;

}*/


#nav_wrapper {

    padding-top: 0;
}



#nav_1 ul{
    border-top: 1px solid #f6a900;
    padding: 20px;
    width: 900px;
    margin-top: 28px;


}

#nav_1 ul li {
    display: inline;
}
#nav_1 ul li a {
    padding: 15px 15px 0 28px;
    text-align: center;
    color: #1e222a;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-decoration: none;


}

#nav_1 ul li a:hover {
    border-top: 5px solid #f6a900;
}


/*.carousel-inner {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    0px 3px 6px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.58);
}*/


main {
    height: 100%;
}


h2.sub-head, #teasers h2 {
    font-size: 2.25em;
    font-weight: 200;


}


/*.item-active {
   z-index: 858;
   position: relative;

}*/

/*.carousel-inner,
.item-active {
    padding-bottom: 75px;
   height: 698px;
}*/
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-width: 768px;
    margin: auto;
}

#main_wrapper {
    margin-top: -100%;
    padding-top: 100%;
    /*        position: relative;
                z-index: -1;*/


    /*    border-top: solid #FFF 648px; 
        position: relative;
        z-index: -556;
        margin-top: -100%;*/
}
/*
section {
    width: 100%;
    z-index: 1000;
    position: relative;
}*/


footer {
    width: 100%;
    background-color: #1d452a;
}

/*.big-image {
    max-width: 2200px;  actual img width
    min-width: 1366px;
    max-height: 698px;  actual img height
    *height: 698px;  actual img height - IE7
    background-image: url(images/detroit-welcome-test.png);
    background-size: cover;
    background-position: center;
}
.big-image:after {
    content: " ";
    display: block;
    width: 100%;

    padding-top: 33.333%;  3:1 ratio
}*/


/*.big-image {
    background: url("images/detroit-welcome-test.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 650px;
    max-height: 650px;
    position: absolute;
    display: block;
    width: 100%;
        max-width: 2000px;
    min-width: 1366px;
    z-index: 100;
    margin-top: 2%;


}*/


#contact-section {
    clear: left;
}

/*---white box behind large picture---*/

/*.box {
    z-index: -555;
     margin: 0 auto;
    width: 1194px;
    margin-top: -692px;
        position: relative;
}*/


/*------section vertical lines---------*/
/*#vertical-lines-1 {
    padding-bottom: 30px;

}*/

.vertical-short1, .vertical-short2, .vertical-short3{
    width:5px;
    background:#305b35;
    /*    padding-left: 0;
        margin-left: 0;
        left: 45px;*/
    margin-left: -5px;
    float: left;
}

.vertical-short1 {
    margin-top: 67px;
    height:325px; 

}

.vertical-short2 {
    margin-top: 34px;
    height:312px; 

}


.vertical-short3 {
    height:300px;
    margin-top: -2px;


}


/*.vertical-tall{
    height:85px; 
    width:1px;
    background:#305b35;
    margin-left: 3px;
}*/








/*------------------*/


/*------ teaser padding-------*/
/*#services-teaser {
    top: -50px;
}


#resources-teaser {
    top: -15px;

}

#staff-teaser {
  top: 30px;

}*/

/*------------------*/





/*large sub head fonts*/
#services-teaser ul li a, #resources-teaser a, #teasers .sub-head {
    color: #305b35;
}
/*---------------------*/


/*----- style for all teasers ----*/

#teasers {
    height: 471px;
    margin: auto;
/*    margin-left: 2.5%;*/
    /*    padding-left: 35px;*/

}

#teasers h2 {
    padding: 15px 0;
}

#services-teaser, #resources-teaser, #staff-teaser {
    border-left: 1px solid #305b35;
    border-right: 1px solid #305b35;

    /*    padding-left: 30px;*/

    /*   padding-top: 25px;*/
    /*    min-width: 300px;*/
}

#services-teaser, #resources-teaser, #staff-teaser {
    height:471px;
    min-width: 325px;
    max-width: 245px;
    text-align: center;

}

/*------------------*/

/*----teaser buttons----*/
#teasers .cta-button {
    border: 4px solid #305b35;
    padding: 15px 25px 10px;
    background-color: #FFF;
    color: #305b35;
    letter-spacing: .06em;
}

#teasers .cta-button:active, #teasers .cta-button:hover {
    border-color: #bcc931;
}
/*-----------------------*/


/*-- teasers gutter spacing --*/

#services-teaser, #resources-teaser {
    margin-right: 6%;
}

/*------------------*/

/*----services teaser only----*/

#services-teaser ul li {
    padding: 15px 0;
    letter-spacing: .025em;

}

#services-teaser ul li a {
    font-weight: 400;
    font-size: 1.25em;

}

#services-teaser {
    padding: 14px 0 0 0;
}

.list-group-item-warning {
    background-color: #eff3cf;
}

/*------------------*/

/*---- resources teaser only----*/

#resources-teaser {
    padding: 60px 35px 0 0;
}

#resources-teaser h3 {
    font-size: 1.5em;
    font-weight: 400;
    /*    padding-top: 10px;*/
    padding-bottom: 15px;
}

#resources-teaser p, #contact-section h4 {
    font-size: 1.22em;
    font-weight: 300;
    line-height: 1.25em;
}

#resources-teaser p{
    padding: 4px 0 15px 25px;
}

.horizontal-rule {
    width:250px;
    height:1px;
    background:#305b35;
    margin-left: 45px;
}

#checklist-icon, #reading-icon {
    float: left;
    padding-left: 25px;
}

#reading {
    padding-top: 18px;
}



/*------------------*/


/*---- Staff teaser only----*/

#staff-teaser {
    padding: 109px 0 0 0;
}

#david-ewing1 {
    margin-bottom: 28px;
}

/*
#tax-prep {
    border-bottom: 1px solid #305b35;
}*/
/*-------------------------------------------*/


/*---Send Message, Location -----------------*/

#contact-section {
    padding-top: 70px;
    color: #1e222a;
}


#contact-section .sub-head {
    padding-top: 25px;
    padding-bottom: 15px;
}


#contact-section h4 {
    padding-bottom: 10px;
}

#contact-section span a{
        color: #1e222a;
        font-weight: 400;
}

/* horizontal lines*/
.send-message-hr1{
    width:273px;
    height: 3px;
    background:#bcc931;
}
.send-message-hr2 {
    width:553px;
    height:2px;
    background:#bcc931;
}

.send-message-hr3{
    width:120px;
    height: 3px;
    background:#bcc931;
}


/* Send Message Form*/
.form-control {
    border-radius: 0;
    background-color: #f8f9e8;

}

.form-control:focus {
    border-color: #f8f9e8;
    outline-color:#f8f9e8; 
    -moz-box-shadow: inset 0 0 10px #bcc931;
    -webkit-box-shadow:inset 0 0 10px #bcc931;
    box-shadow: inset 0 0 10px #bcc931;

}  

fieldset {
    padding-bottom: 10px;

}

input.form-control, textarea {
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
}


.btn-primary {
    background: #f8f9e8;
    color: #1e222a;
    padding: 8px 52px 6px;
    border: 3px solid #999;
    letter-spacing: 1px;
}

.btn-primary:hover {
    background-color: #bcc931;
    color: #1e222a;
    border-color: #999;
}


#map_google iframe {
 border: 1px solid #999;


}
/*------------------*/








/*---------------------------------------*/


/*--- Begin Responsive @media queries----*/
/* for ipad*/

@media (max-width: 768px) {
    #nav_wrapper, #main_wrapper {
        width: 600px;

        .carousel-caption {
            min-width: 400px;


        }


    }


    @media (max-width: 768px) {

        /*        .box {
                    visibility: hidden;
                    display: none;
                }*/


        #nav_1 {
            padding-top: 20px;
        }
        #nav_1 ul {
            width: 520px;
            padding-top: 4px;
        }

        #nav_1 ul li a {
            font-size: .75em;
        }

        #nav_1 ul li a:hover {
            border-top: 2px solid #f6a900;
        }

        #nav_1 ul li a {
            padding: 5px 10px 10px 3px;
        }




        @media (max-width: 1024px) {
            #services-teaser, #resources-teaser, #staff-teaser {
                margin-right: 0;


            }








