/* ----------overwrite defaults ---------------*/

html, body div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /*    vertical-align: baseline;*/
    text-decoration: none;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style-type: none;
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------------begin my style------------- */

html {
    height: 100%;

}

body {
    height: 100%;
    width: 100%;
    font-family: 'Heebo', sans-serif;


    /* IE10+ */
    background-image: -ms-linear-gradient(left, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

    /* Opera */
    background-image: -o-linear-gradient(left, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(154,182,112,1)), color-stop(100, rgba(207,218,116,1)));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

    /* W3C Markup */
    background-image: url("images/square.png"), linear-gradient(to right, rgba(154,182,112,1) 0%, rgba(207,218,116,1) 100%);

}


/*#accountingconceptsinc {
    margin-left: -9999px;
}*/


/*#nav-1 h4 {
    background: url("images/nav-background.jpg") no-repeat;
background-color: #1d452a;
height: 30px;

}*/
/*==
#nav_background h4{
    text-align: center;
    background-color: beige;
    padding: 42px 42px 0px 42px;
    width: 300px;


}*/

#nav_1 h4 {
    text-align: center;
}



/*#nav-background  {
      
       position: relative;
       
   }*/



.horizontal-short{
    width:725px;
    height:2px;
    background:#bcc931;
    margin-left: 150px;
}
.horizontal-long1{
    width:600px;
    height: 3px;
    background:#bcc931;
    margin-left: 200px;

}

.horizontal-long2{
    width:725px;
    height: 2px;
    background:#bcc931;
    margin-left: 150px;
    margin-top: 20px;

}


.orange-welcome {
    color: #f6a900;
    font-family: 'Dancing Script', cursive;
    font-size: 3.75em;
    float: left;
    padding-right: 10px;

}


.carousel-caption{
    /*    margin: 250px 0 0 140px;*/
    min-width: 650px;
    top: 25%;
    left: 25%;
    max-width: 870px;
    /*    position: absolute;
        z-index: 100;*/

}

.white-big1, .white-big2  {
    font-weight: 400;
    color: #FFF;
    font-size: 1.9em;
    margin-top: 21px;

}

.white-big2 {
    margin-left: 105px;
    margin-top: 1px;

}




#main_wrapper, #nav_wrapper {
    max-width: 1194px;
    /*        min-height: 100%;*/
    background-color: #FFF;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
    margin: 0 auto;
    padding: 42px 12px 0px 12px;
    height: auto;
}

#nav_1 h4 {
    letter-spacing: .05em;
}

#nav_1 h4 a{
    font-weight: 700;
    color: #1e222a;
}

.black-bullet {
    font-size:  1.25em;
    padding: 5px;

}

.orange-slash {
    color: #f6a900;
    padding: 10px;
    font-weight: 900;
}

#nav_1 {
    height: 130px;
}



#nav_1 ul, #logo {
    /*    margin-top: -30px;*/
    float: left;

}

/*#logo {
  display: inline;
  position: relative;

}*/


#nav_wrapper {

    padding-top: 0;
}



#nav_1 ul{
    border-top: 1px solid #f6a900;
    padding: 20px;
    width: 900px;
    margin-top: 28px;


}

#nav_1 ul li {
    display: inline;
}
#nav_1 ul li a {
    padding: 15px 15px 0 28px;
    text-align: center;
    color: #1e222a;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-decoration: none;


}

#nav_1 ul li a:hover {
    border-top: 5px solid #f6a900;
}




main {
    height: 100%;
}


h2.sub-head {
    font-size: 2em;
    font-weight: lighter;

}


/*.item-active {
   z-index: 858;
   position: relative;

}*/

/*.carousel-inner,
.item-active {
    padding-bottom: 75px;
   height: 698px;
}*/
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-width: 768px;
    margin: auto;
}

#main_wrapper {
    margin-top: -100%;
    padding-top: 100%;
    /*    position: relative;
        z-index: -556;*/
}
/*
section {
    width: 100%;
    z-index: 1000;
    position: relative;
}*/


footer {
    width: 100%;
    background-color: #1d452a;
}

/*.big-image {
    max-width: 2200px;  actual img width
    min-width: 1366px;
    max-height: 698px;  actual img height
    *height: 698px;  actual img height - IE7
    background-image: url(images/detroit-welcome-test.png);
    background-size: cover;
    background-position: center;
}
.big-image:after {
    content: " ";
    display: block;
    width: 100%;

    padding-top: 33.333%;  3:1 ratio
}*/


/*.big-image {
    background: url("images/detroit-welcome-test.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 650px;
    max-height: 650px;
    position: absolute;
    display: block;
    width: 100%;
        max-width: 2000px;
    min-width: 1366px;
    z-index: 100;
    margin-top: 2%;


}*/


#contact-section {
    clear: left;
}

.box {
    z-index: -555;
    /*   margin: -698px;*/
    margin: 0 auto;
    width: 1194px;
    margin-top: -692px;
    /*    height: 100%;*/
    position: relative;
    /*    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);
        box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.4);*/
}


/*------section vertical lines---------*/
#vertical-lines-1 {
    padding-bottom: 30px;

}

.vertical-short{
    height:300px; 
    width:5px;
    background:#305b35;
    padding-left: 0;
    margin-left: 0;
    left: 39px;
}
/*.vertical-tall{
    height:85px; 
    width:1px;
    background:#305b35;
    margin-left: 3px;
}*/

#services-teaser, #resources-teaser, #staff-teaser {
    border-left: 4px solid #305b35;
    /*    border-right: 1px solid #305b35;*/

    padding-left: 30px;

    /*   padding-top: 25px;*/
    min-width: 300px;
}

#resources-teaser, #staff-teaser {
    border-right: 1px solid #305b35;

}



/*------------------*/


/*------ teaser padding-------*/
/*#services-teaser {
    top: -50px;
}


#resources-teaser {
    top: -15px;

}

#staff-teaser {
  top: 30px;

}*/

/*------------------*/
#services-teaser ul li {
    padding: 10px;
}

#services-teaser ul li a {
    font-weight: 400;
    font-size: 1.25em;
}


.list-group-item-warning {
    background-color: #eff3cf;
}

#services-teaser ul li a {
    color: #305b35;
}




/*------------------*/


/* for ipad*/
@media (max-width: 768px) {
    #nav_wrapper, #main_wrapper {
        width: 600px;

        .carousel-caption {
            min-width: 400px;


        }


    }


    @media (max-width: 768px) {

        .box {
            visibility: hidden;
            display: none;
        }


        #nav_1 {
            padding-top: 20px;
        }
        #nav_1 ul {
            width: 520px;
            padding-top: 4px;
        }

        #nav_1 ul li a {
            font-size: .75em;
        }

        #nav_1 ul li a:hover {
            border-top: 2px solid #f6a900;
        }

        #nav_1 ul li a {
            padding: 5px 10px 10px 3px;



        }


        /*        /*---use 952 for width of wrapper for screens smaller than 1024;current width of wrapper is 1194, but try 1024 later---*/
